<?xml version="1.0"?>
<launch>

<!-- Load and parse robot model -->
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kobuki_sim)/urdf/kobuki.xacro'"/>

<!-- Robot State Publisher -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- Controller Manager -->
<!-- Load controllers configuration-->
<rosparam file="$(find kobuki_sim)/config/controller_def.yaml" command="load"/>
<!-- Load controllers -->
<node 
    name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false"
    output="screen"
    args="joint_state_controller 
    left_wheel_controller
    right_wheel_controller"
/>

<!-- Gazebo Initialization -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
</include> 

<node 
    pkg="gazebo_ros" 
    type="spawn_model" 
    name="spawn_robot"
    respawn="false"
    args="  -param robot_description
            -urdf
            -model kobuki"
/>

<!-- Keyboard Node -->
<node pkg="kobuki_sim" type="keyboard_node.py" name="keyboard"/>

</launch>